body{
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #fd79a8;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #fd79a8;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #FFF;
}

.navbar-toggler{
    background-color: #fff;
}

.section-title {
    font-family: 'Pacifico', cursive;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 60px;
}

#sobre-o-restaurante,
#fale-conosco{
    background-color: #ffebf2;
}

.text-colored{
    color: #fd79a8;
}

.nav-cardapio .nav-link.active,
#fale-conosco button{
    background-color: #fd79a8;
    color: #fff;
}

.nav-cardapio .nav-link:hover{
    color: #fd79a8;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links li a{
    text-decoration: none;
}

@media(max-width:767px){
    .carousel-item img{
        height:280px
    }
}